<ion-view view-title="{{vm.line.nome || 'Detail'}}">
  <div id="line-sub-header" class="bar header-bar bar-assertive">
    <h1 class="title">{{vm.sch.exit}}</h1>
    <div class="buttons" ng-click="vm.arrowClick()">
      <a class="button button-icon icon"
          ng-class="{
            'ion-arrow-right-c': vm.arrowRight,
            'ion-arrow-left-c': !vm.arrowRight
          }"
      ></a>
    </div>
  </div>

  <ion-content id="line-detail-content" has-bouncing="true" class="has-footer">
    <div id="line-sch" class="container-fluid"
      ng-repeat="days in vm.sch.weekdays"
      ng-if="vm.currentTab[vm.currentExit] == days.day">

      <div class="row2">
        <span class="col-xs-4 col-sm-3 col-md-2 col-lg-2"
          ng-repeat="time in days.schedule">
          {{time}}
        </span>
      </div>
    </div>
  </ion-content>

  <div id="line-tabs"
    class="tabs-striped tabs-background-stable tabs-color-assertive">

    <div class="tabs">
      <a class="tab-item" ng-repeat="days in vm.sch.weekdays"
        ng-class="{active: days.day == vm.currentTab[vm.currentExit]}"
        ng-click="vm.tabClick(vm.currentExit, days.day)">
          {{days.day}}
      </a>
    </div>
  </div>
</ion-view>
