<ion-view view-title="Home">
  <ion-content>
    <ion-list>
      <ion-item class="bar bar-assertive"><h1 class="title">Próximas partidas:</h1></ion-item>
      <ion-item class="item-divider">
        <div class="row2">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Saida: </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            {{vm.exitModel}}
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <button class="button button-small button-clear button-dark" modal-select=""
              ng-model="vm.exitModel" options="exits"
              modal-title="Select an exit" has-search="true" hide-reset="true"
              on-select="vm.onSelect(newValue, oldValue)">
              <i class="icon ion-arrow-down-b"></i>
              <div class="option">
                <strong>{{option}}</strong>
              </div>
            </button>
          </div>
        </div>
      </ion-item>
      <ion-item ng-repeat="o in vm.nextSchedules | orderBy:'hora' | limitTo:15 track by $index"
        href="#/main/search/{{o.cod}}" class="item-text-wrap">
        <div class="row">
          <div class="col col-25">{{o.hora}}</div>
          <div class="col col-75">{{o.nome}} <span ng-if="o.obs !== ''">({{o.obs}})</span></div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
