<ion-view view-title="Update">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Update
      </div>
      <div class="item item-text-wrap">
        <strong>Esta opção atualizará o banco de dados de horários do APP. <br \>
        Isto pode levar alguns minutos. <br \><br \>
        Recomendamos fazer isto uma vez por mês!</strong>
        <button class="button button-block button-balanced" ng-click="vm.update()">Update</button>
      </div>
    </div>
  </ion-content>
</ion-view>
