<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs id="main-tabs" class="tabs-top tabs-assertive tabs-icon-top">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/main/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/main/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Update Tab -->
  <ion-tab title="Update" icon-off="ion-ios-refresh-outline" icon-on="ion-ios-refresh" href="#/main/update">
    <ion-nav-view name="tab-update"></ion-nav-view>
  </ion-tab>

</ion-tabs>
